<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>We've got some trouble | 404 - Resource not found</title>
    <link href="css/dark_theme.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="cover">
    <h1>Resource not found
        <small>Error 404</small>
    </h1>
    <p class="lead">The requested resource could not be found but may be available again in the future. <a href="/">Go back now!</a></p></div>
<footer><p>Technical Contact: <a href="wang.chauyan@gmail.com">e-mail me</a></p></footer>
</body>
</html>
